.layout-cabecalho {
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.layout-cabecalho img {
    margin-top: 12px;
}

.layout-planos {
    padding: 80px 0;
}

.layout-chamada {
    padding: 80px 0;
    margin-top: 60px; /* Para o cabeçalho */
    background-color: #7ab55c  ;
}
.layout-depoimento {
    padding: 80px 0;
    background-color: #e7e7e7;
}

.layout-rodape {
    padding: 40px 0;
    background-color: #484848;

    color: #fff;
    text-align: center;
}

.layout-cabecalho--home {

    position:fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    z-index: 1; /*Para sobrepor*/
}
